@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root{
  font-family: 'Oswald';
  --main: #101010;
  --yellow: #FFFC03;
  --pink: #F86DFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

